.blocoForm .dadosApiH1{
    font-family: Garamond;
    font-size: 44px;
    margin: auto;
}

.conteudoPessoaApi .dadosApi{
    font-family: Garamond;
    font-size: 34px;
    padding: 10px 100px 10px 100px;
}